

{% extends 'base.html' %}

{% block title %}
    Account
{% endblock %}

{% block content %}

<div class="container con1 ">
    <div> <br>
        <form method="POST"  enctype="multipart/form-data">
        <img src="{{ image_file }}" style="height: 125px; width: 125px; border-radius: 50%;" alt="">
        
        <h3>Account</h3>
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username( class="form-control" )}}
        </div>
    
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email( class="form-control" )}}
        </div>
        <div class="form-group">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file") }}
        </div>

        <div class="form-group">
            {{ form.about_me.label() }}
            {{ form.about_me(class="form-control") }}
        </div>
        {{ form.submit( class="btn btn-primary btn-sm w-25 " )}}
    </div>
    <div class="card">
        <div class="card-header">
            Account
        </div>
        <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='tweet.jpg')}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Lorem</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                <a href="#"  class=" text-muted card-link">Disabled</a>
                <a href="#" class=" text-muted card-link">Disabled</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
