

{% extends 'base.html' %}


{% block title %}
    Login
{% endblock %}


{% block content %}

<div class="row_1">
    <div class="col_1">
        <br> <br>
        <div class="w-50 m-auto">
            <h3>Blog</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit sit explicabo enim nihil. Amet eos voluptates quae vel facilis aliquam?</p>
            <a href="" class="btn btn-sm btn-primary">Get started</a>
        </div>
    </div>
    <div class="col_2">
        <br><br>
        <div class="card _1">
            <div class="card-header bg-info text-white">
                Login to Blog
            </div>
            <div class="card-body">
                <form method="POST" >
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email( class="form-control" )}}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password( class="form-control" )}}
                    </div>
                    <div class="form-check">
                        <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
                        {{ form.remember( class="form-check-input" )}}
                        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                    </div>
                    {{ form.submit( class=" mb-2 btn btn-primary btn-sm w-25 " )}}  <br/>
                    <a href="/register"  class="font-weight-bold">Don't have an account?</a>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}