

{% extends 'base.html' %}


{% block title %}
  Post
{% endblock %}

{% block content %}


<div class="container con ">
    <div class="card ">
        <div class="card-body">
          <h1 class="card-title ">
            <h3>{{ post.owner.username | title  }}'s post</h3>
           <h1>
              <a href="#" style="font-weight: bold;"> 
                {{ post.title }}
              </a>
           </h1>
          </h1>
          <p class="card-text">{{ post.content }}</p>
          
          <p class="card-text">
            Posted by {{ post.owner.username }} on {{ post.date.date() }}
          </p>
          
          {% if post.owner == current_user %}
          <a href="/delete/{{ post.id }}/post" class="btn btn-sm btn-danger">
            <i class="fa-solid fa-trash"></i>
          </a>
          <a href="/update/{{ post.id }}/post" class="btn btn-sm btn-primary" >
            <i class="fa-solid fa-pen"></i>
          </a>
          {% else %}
          <a href="{{url_for('home')}}" class="btn btn-sm btn-primary" >Back</a>
          {% endif %}

          {% if post.comments | length > 0 %} 
          <a href="#comment{{post.id}}" class="btn btn-primary btn-sm mb-2 mt-2" data-toggle="collapse">
            <i class="fa-regular fa-comment"></i>
          </a> <small class="text-danger">{{ post.comments | length }}</small>
          {% else %}
          <small class="text-muted mb-2 mt-2">No comments</small>
          {% endif %}

          {% for comment in post.comments %}
          <div id="comment{{post.id}}" class="collapse mb-2 mt-2">
            <div class="d-flex justify-content-between">
              <input type="text" value=" {{ comment.comment }}" class="form-control">
            </div>
          </div>
          {% endfor %}


          
        </div>
    </div>

    <div class="card ">
        <div class="card-header ">
            About
        </div>
        <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='tweet.jpg')}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Lorem</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#"  class=" text-muted card-link">Disabled</a>
                  <a href="#" class=" text-muted card-link">Disabled</a>
                </div>
              </div>
        </div>
    </div>

</div>


{% endblock %}